<!doctype html>
<html lang="en">
{{> head }}
<body>
<div id="outer-wp">
<div id="inner-wp">

{{> header }}
{{> body }}
{{> footer }}

<!-- JS -->
<script type="text/javascript" src="/assets/js/scripts.js"></script>

</div><!-- /#inner-wp -->
</div><!-- /#outer-wp -->
</body>
</html>
